.gradle/
build/
app/build/
local.properties
app/schemas/
#ai配置
.impeccable/
.opencode/
docs/
AGENTS.md
.impeccable.md
opencode.json
PRODUCT.md
#测试生成的文件
*.hprof

#签名app
keystore.properties
*.jks
*.keystore
app-release-aligned.apk.idsig
app-release-aligned.apk
